* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: sans-serif;
	background-color: #ECECEC;
}

.globalHeader {
	background-color: #33bc24;
}

.globalHeader a {
	display: block;
	color: white;
	padding: 0.5em 0;
	text-decoration: none;
	text-align: center;
}

.wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 80%;
	background: #f9f9f9;
}

.sidebar {
	display: table-cell;
	width: 220px;
	background-color: #F4F4F4;
	border-right: 3px solid #ECECEC;
}

.sidebar a {
	display: block;
	padding: 0.5em 0;
	color: #555;
	text-align: center;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
}

.sidebar a:hover, .sidebar a:focus {
	color: #222;
	text-decoration: none;
	background: #f9f9f9;
}

section {
	display: table-cell;
	color: #0d2d4b;
	padding: 0.5em;
	text-align: center;
	background-color: #F9F9F9;
}

.globalFooter {
	padding: 0.5em 0;
	text-align: center;
}

/* Responsive */

@media (max-width: 640px) {
	.wrapper, .sidebar, section {
		display: block;
		width: auto;
	}
}

contentNoCenter{
	text-align: left;
}



 /*Pour le bouton switch OUI/NON*/
/* GLOBALS */


.switch label {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin-top: -22px;
}

.switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* DEMO */

.switch.demo {
    width: 80px;
    height: 20px;
}

.switch.demo label {
    display: block;
    width: 100%;
    height: 100%;
    background: #ff0d1e;
    border-radius: 40px;
}

.switch.demo label:after {
    content: "";
    position: relative;
    z-index: -1;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    border-radius: inherit;
    background: #ababab;
    background: -moz-linear-gradient(#f2f2f2, #ababab);
    background: -ms-linear-gradient(#f2f2f2, #ababab);
    background: -o-linear-gradient(#f2f2f2, #ababab);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
    background: -webkit-linear-gradient(#f2f2f2, #ababab);
    background: linear-gradient(#f2f2f2, #ababab);

}

.switch.demo label:before {
    content: "";
    position: relative;
    z-index: -1;
    top: -18px; right: -18px; bottom: -18px; left: -18px;
    border-radius: inherit;
    background: #eee;
    background: -moz-linear-gradient(#e5e7e6, #eee);
    background: -ms-linear-gradient(#e5e7e6, #eee);
    background: -o-linear-gradient(#e5e7e6, #eee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
    background: -webkit-linear-gradient(#e5e7e6, #eee);
    background: linear-gradient(#e5e7e6, #eee);

}

.switch.demo label i {
    display: block;
    height: 100%;
    width: 40%;
    border-radius: inherit;
    background: silver;
    position: absolute;
    z-index: 2;
    right: 60%;
    top: 0;
    background: #b2ac9e;
    background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
    background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
    background: -o-linear-gradient(#f7f2f6, #b2ac9e);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
    background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
    background: linear-gradient(#f7f2f6, #b2ac9e);
}

.switch.demo label i:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: #d2cbc3;
    background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
    background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
    background: -o-linear-gradient(#cbc7bc, #d2cbc3);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
    background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
    background: linear-gradient(#cbc7bc, #d2cbc3);
    border-radius: inherit;
}

.switch.demo label i:before {
    content: "non";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: rgb(253, 255, 253);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -130%;
}

.switch.demo input:checked ~ label {
    background: #36ff46;
}

.switch.demo input:checked ~ label i {
    right: -1%;
}

.switch.demo input:checked ~ label i:before {
    content: "oui";
    right: 150%;
    color: #fdfffd;
    text-shadow:
            0 1px 0 #2923cb,
            0 -1px 0 #fefff8;
}
